<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Création Annonce</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="text-center m-auto">
            <h1 class="my-3">Créer une annonce</h1>

            <form th:object="${annonce}" method="post">

                <div class="form-group my-3">
                    <input type="text" name="title" placeholder="Titre de l'annonce" th:field="*{title}" class="form-control text-center">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></p>
                </div>

                <div class="form-group my-3">
                    <input type="text" name="image" placeholder="Lien image de l'annonce" th:field="*{image}" class="form-control text-center">
                    <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></p>
                </div>

                <div class="form-group my-3">
                    <input type="text" name="content" placeholder="Contenu de l'annonce" th:field="*{content}" class="form-control text-center">
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></p>
                </div>

                <input type="hidden" th:field="*{datePublication}">

                <input type="submit" value="Valider" class="btn btn-primary">
            </form>
        </div>

    </body>
</html>
