<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List Annonce</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>

        <div class="text-center m-auto">
            <h1 class="my-3">List Annonce</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Date de publication</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="annonce : ${annonces}">
                        <td th:utext="${annonce.id}"></td>
                        <td th:utext="${annonce.title}"></td>
                        <td th:utext="${annonce.datePublication}"></td>
                        <td>
                            <a th:href="@{/show_annonce/{id}(id=${annonce.id})}">Détail</a>
                            <a th:href="@{/edit_annonce/{id}(id=${annonce.id})}">Edit</a>
                            <a th:href="@{/delete_annonce/{id}(id=${annonce.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>